# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Intro_Unity_CourseProject.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Unity\Projects\Unity Intro Course Project\Intro_Unity_CourseProject\.idea\.idea.Intro_Unity_CourseProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
