# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.IntroToUnity_GroupRepository.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\+___+\Unity Projects\IntroToUnity_GroupRepository\.idea\.idea.IntroToUnity_GroupRepository\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
